doctype html
html(lang='en')
  head
    title= title
  body
    h1= message
    a(href= 'Africa') Africa
    br
    a(href= 'Americas') America
    br
    a(href= 'Asia') Asia
    br
    a(href= 'Europe') Europa
    br
    a(href= 'Oceania') Oceania
